.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(23, 22, 22);
}
.App-main {
  min-height: 18vh;
}
.App-footer {
  min-height: 35vh;
}
ul {
  list-style: none;
}
form {
  padding: 10px;
}
.App-link {
  color: #111fe8;
}